modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0", "python_xai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[userenv]

[userenv.shared]
ENCRYPTION_KEY = "UNQseQTv0VYaoIu_MpjHloBWDcIfhZS-ahSBB_UGiNU"
ADMIN_USER_IDS = "1124285818"
WEBHOOK_SECRET = "9_-Jf6HYiHLv6JMw_sRmD_xVwA5LxNlfu3kp6Xu9h2E"

[workflows]

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8099
externalPort = 8099
